@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  /* background: linear-gradient(to left, #F3904F, #3B4371); */
  background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

html {
  scroll-behavior: smooth;
}
